@tailwind base;
@tailwind components;
@tailwind utilities;

/* твои переменные */
@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 34 34 34;
    --color-primary: 49 130 206;
    --color-primary-foreground: 255 255 255;
    --bg: url('/img/backgroundbigblack.jpg');
    --bg2:  url('/img/backgroundbig.jpg');
  }
  html[data-theme="standart"] {
    --background: 3 37 99;
    --foreground: 0 66 189;
    --color-primary: 255 255 255;
    --color-primary-foreground: 255 255 255;
  }

  html[data-theme="light"] {
    --background: 100 173 236;
    --foreground: 50 149 236;
    --color-primary: 255 255 255;
    --color-primary-foreground: 0 0 10;
  }
  html[data-theme="dark"] {
    --background: 28 28 40;
    --foreground: 53 53 59;
    --color-primary: 255 255 255;
    --color-primary-foreground: 255 255 255;
  }
}

@font-face {
  font-family: 'poppins';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'sarpanch';
  src: url('/fonts/Sarpanch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'poppins';
}
.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  /* Chrome / Edge / Safari */
  .autofill-transparent:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    background-color: transparent !important;
    -webkit-text-fill-color: rgb(var(--color-primary)) !important;
    transition: background-color 9999s ease-out 0s !important;
  }

  /* Firefox */
  input.autofill-transparent:-moz-autofill,
  textarea.autofill-transparent:-moz-autofill,
  select.autofill-transparent:-moz-autofill {
    -moz-appearance: none !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.01) !important; /* вместо transparent */
    text-shadow: 0 0 0 rgb(var(--color-primary)) !important;
    background-clip: padding-box !important;
  }
}




