NODE_ENV=production
PORT=
HOST=0.0.0.0
FRONTENDADDRES=
CDN_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
TOKEN_EXPIRES_IN=
REFRESH_EXPIRES_IN=
SSL_KEY_PATH=
SSL_CERT_PATH=
LOG_LEVEL=
MAX_REQUEST_SIZE=
